form {
  margin: 0 auto;
  padding-top: 20px;
}

button {
  background: #b088f9;
  border: 10px;
  border-color: #b088f9;
  border-radius: 15px;
  color: white;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #93fffa;
  cursor: pointer;
}
