form {
  margin: 0 auto;
  padding-top: 20px;
}

button {
  background: #b088f9;
  border: 10px;
  border-color: #b088f9;
  border-radius: 15px;
  color: white;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #93fffa;
  cursor: pointer;
}

.container {
  margin-top: 10px;
  border: 1px gray;
  border-radius: 30px;
  display: block;
  max-width: 650px;
  max-height: 600px;
  background-image: linear-gradient(to top, #93fffa 0%, #e7c3fc 100%);
}
